.flashbox
.wrapper
  .chat-side
    .side__header
      .side-header__box
        .side-header__box__user-name
          三谷
        .side-header__box__menu
          .side-header__box__menu__new-group
            -# = link_to newgroup_path do
            = fa_icon 'edit'
          .side-header__box__menu__edit-user
            -# = link_to edit_path(current_user) do
            = fa_icon 'cog'
           
    .groups
      .group
        .group__name
          グループの名前
        .group__message
          グループの会話

  .chat-main
    .main-header
      .main-header__leftbox
        .main-header__leftbox__current-groupname
          埼玉
        .main-header__leftbox__menber
          三谷
      .main-header__edit-btn
        Edit
    .massages
      .massage
        .massage__top
          .massage__top__name
            田中
          .massage__top__day-time
            2019/10/20 11:11
        .massage__text
          chat-space見た目の実装をしています。 
    .form
      %form.new_message
        .input-box
          %input.input-box__text{:placeholder => "type a message"}
          %label.input-box__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.submit-btn{:type => "submit", :value => "Send" }
          
          
          
         

      