.flashbox{
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.wrapper{
  margin: 0;
    padding: 0;

  .chat-side{
    width: 300px;
    color: white;
    float: left;

    .side__header{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;

      .side-header__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;

        .side-header__box__user-name{
          margin: 0;
          padding: 0;
        }    

        .side-header__box__menu{
          display: flex;

          .side-header__box__menu__new-group{
            margin-left: 0.3rem;
          }
          .side-header__box__menu__edit-user{
            margin-left: 0.3rem;
          }
        } 
         
      }   
    }        

    .groups{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      box-sizing: border-box;

      .group{
        margin-bottom: 40px;

        .group__name{
          font-size: 15px;
          margin-bottom: 5px;
        } 
        
          
        .group__message{
          font-size: 11px;
        }
      }
    }          
  }
  
  .chat-main{
    width: calc(100vw - 300px);
    float: left;

    .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      box-sizing: border-box;

      .main-header__leftbox{
        margin-top: 35px;

        .main-header__leftbox__current-groupname{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;

        }

        .main-header__leftbox__menber{
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }

      .main-header__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        color:  #38aef0;
        box-sizing: border-box;
      }

    }

    .massages{
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      box-sizing: border-box;

      .massage{
        padding-bottom: 40px;
      

        .massage__top{
          display: flex;
          margin-bottom: 10px;
        
          .massage__top__name{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          
          .massage__top__day-time{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .massage__text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }

    .form{
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      box-sizing: border-box;

      .new_message{
        display: flex;
        box-sizing: border-box;

        .input-box{
          position: relative;
          width: 100%;
          // margin: 0 10px;
          box-sizing: border-box;

          .input-box__text{
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
            box-sizing: border-box;
          }
          .input-box__image{font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        
          }
          
        }

        .submit-btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
          box-sizing: border-box;
          font-family: inherit;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
        }
          
      }  
    }
  }
}       