@import "config/colors";

.flashbox{
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.wrapper{
  margin: 0;
    padding: 0;

  .chat-side{
    width: 300px;
    color: white;
    float: left;

    .side-header{
      background-color: $side_header_black;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;

      &__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;

        &__user-name{
          margin: 0;
          padding: 0;
        }    

        &__menu{
          display: flex;
          
          &__new-group{
            margin-left: 0.3rem;
          }
            .icon {
              color: $white;
            }
          &__edit-user{
            margin-left: 0.3rem;
          }
            .icon {
              color: $white;
              
            }
        } 
         
      }   
    }        

    .groups{
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      box-sizing: border-box;
      

      .group{
        margin-bottom: 40px;
        
        &__name{
          font-size: 15px;
          margin-bottom: 5px;
          color: white;
        } 
        
          
        &__message{
          font-size: 11px;
          color: white;
        }
      }
    }          
  }
  
  .chat-main{
    width: calc(100vw - 300px);
    float: left;

    .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      box-sizing: border-box;

      &__leftbox{
        margin-top: 35px;

        &__current-groupname{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;

        }

        &__menber{
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }

      .main-header__edit-btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px $btn_blue;
        position: absolute;
        right: 40px;
        color:  $btn_blue;
        box-sizing: border-box;
      }

    }

    .massages{
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      box-sizing: border-box;

      .massage{
        padding-bottom: 40px;
      

        &__top{
          display: flex;
          margin-bottom: 10px;
        
          &__name{
            color: $text_black;
            font-size: 16px;
            font-weight: bold;
          }
          
          &__day-time{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__text{
          color: $text_black;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }

    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}       